.kr-app-frame {
  height: 30px;
  color: #fff;
  background-color: #343434;
  text-align: center;

  .kr-app-frame-appname {
    display: inline;
  }

  .kr-app-frame-buttons-block {
    float: right;
  }

  .kr-app-frame-button-close {
    width: 44px;
    height: 30px;
    left: auto;
    right: auto;
    border: none;
    background-color: #e74c3c;
  }

  .kr-app-frame-button {
    width: 44px;
    height: 30px;
    left: auto;
    right: auto;
    border: none;
    background-color: #fbc531;
  }

  .kr-app-frame-button:hover {
    background-color: #e1b12c;
  }

  .kr-app-frame-button-close:hover {
    background-color: #c0392b;
  }
}
