.kr-app-header-topMenu {
  display: flex;
  background-color: #fff;

  .kr-app-header-topMenu-logo {
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .kr-app-header-topMenu-dashButtons{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;

    .tabButton:hover {
      border-color: #f0506e;
    }
  }
}
