.kr-app-header-topMenu {
  display: flex;

  .kr-app-header-topMenu-logo {
    padding: 18px;
  }

  .kr-app-header-topMenu-dashButtons{
    margin-top: 18px;

    .tabButton:hover {
      border-color: #f0506e;
    }
  }
}