.kr-app-Sidebar {
    min-height: 93vh;
    width: 250px;
    background-color: #1B202A;
    position: fixed;

    .Sidebar-collapse-BurgerIcon {
        height: 30px;
        width: 30px;
        margin-right: 20px;
        margin-top: 10px;
        fill: #fff;
        cursor: pointer;
    }
}

.kr-app-Sidebar-hidden {
    display: none;
}
